In [47]:
import pandas as pd
import numpy as np

In [48]:
dat=pd.read_csv("checking for flask.csv")

In [49]:
dat.head()

,ID,Q1,Q10,Q11,Q13,Q15,Q16,Q17,Q18,Q19,Q2,Q3,Q4,Q5,Q8_10,Q8_2,Q8_6,district,region,ward
0,2577,27,2,0,6,5,0,0,2,2,1,4,5,4,0,1,0,27,0,27

In [50]:
dat1=dat.copy()

In [51]:
dat.drop('ID',axis=1,inplace= True)

In [52]:
dat.head()

,Q1,Q10,Q11,Q13,Q15,Q16,Q17,Q18,Q19,Q2,Q3,Q4,Q5,Q8_10,Q8_2,Q8_6,district,region,ward
0,27,2,0,6,5,0,0,2,2,1,4,5,4,0,1,0,27,0,27

In [53]:
import pickle

In [54]:
model_get=open("saved_modell.dat", "rb")

In [55]:
model=pickle.load(model_get)

In [56]:
model.predict(dat)

array([3.])

In [57]:
pred = pd.DataFrame(model.predict_proba(dat),columns= [ 'no_financial_services', 'other_only', 'mm_only', 'mm_plus'])

In [58]:
pd.concat([dat1['ID'],pred],axis=1)

     ID  no_financial_services  other_only   mm_only   mm_plus
0  2577               0.000524    0.005717  0.044181  0.949577