In [1]:

import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dat1 = pd.read_csv("3rd_ppp_for_upload_win.csv", encoding = "ISO-8859-1")
dat2 = pd.read_csv("atm_for_upload_win.csv", encoding = "ISO-8859-1")
dat3 = pd.read_csv("banks_for_upload_win.csv", encoding = "ISO-8859-1")
dat4 = pd.read_csv("bus_stands_for_upload_win.csv", encoding = "ISO-8859-1")
dat5 = pd.read_csv("microfinance_for_upload_win.csv", encoding = "ISO-8859-1")
dat6 = pd.read_csv("mobilemoney_agents_for_upload_win.csv", encoding = "ISO-8859-1")
dat7 = pd.read_csv("pos_for_upload_win.csv", encoding = "ISO-8859-1")
dat8 = pd.read_csv("post_office_for_upload_win.csv", encoding = "ISO-8859-1")
dat9 = pd.read_csv("sacco_for_upload_win.csv", encoding = "ISO-8859-1")

C:\Users\dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dat6 = dat6[['latitude', 'longitude', 'trading_hours']]

In [4]:

dat6.trading_hours.unique()

array(['12 hours', '10 hours', '8 hours', '24 hours', nan], dtype=object)

In [5]:

dat6.dropna(inplace= True)
dat6.head()

   latitude  longitude trading_hours
0 -10.28298   40.18363      12 hours
1 -10.28457   40.18295      12 hours
2  -3.36025   37.33803      12 hours
3  -6.80213   39.22978      12 hours
4  -3.35613   37.33382      12 hours

In [6]:

dat1 = dat1[[ 'latitude', 'longitude',
       'trading_hours']]

In [7]:
dat1 = pd.concat([dat1,dat6])
dat1.reset_index(inplace =True)
dat1.head()

   index  latitude  longitude trading_hours
0      0  -2.36921   33.57654      12 hours
1      1  -2.53201   32.94780      12 hours
2      2  -6.84188   39.21102      12 hours
3      3  -6.77949   39.24092      10 hours
4      4  -6.82792   39.31021      10 hours

In [8]:
#data = pd.concat([dat1,dat2,dat3,dat4,dat5,dat6,dat7,dat8,dat9])
dat1.drop("index",axis =1,inplace =True)

In [9]:

dat1['trading_hours'] = dat1['trading_hours'].astype('category')

In [10]:
data = dat1.copy()

In [11]:
cat_columns = dat1.select_dtypes(['category']).columns

cat_columns
dat1[cat_columns] = dat1[cat_columns].apply(lambda x: x.cat.codes)
dat1.head()

   latitude  longitude  trading_hours
0  -2.36921   33.57654              1
1  -2.53201   32.94780              1
2  -6.84188   39.21102              1
3  -6.77949   39.24092              0
4  -6.82792   39.31021              0

In [12]:

dat1.trading_hours.unique()

array([1, 0, 3, 2], dtype=int64)

In [13]:

X= dat1.drop('trading_hours', axis =1)
y = dat1["trading_hours"]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [15]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [16]:
model = LogisticRegression()
rf = RandomForestClassifier()
xgb = XGBClassifier()

In [17]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(xgb.predict(X_test),y_test)

0.8813786073772059

In [20]:
xgb.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [21]:

train = pd.read_csv("training.csv")
test = pd.read_csv("test.csv")

In [22]:
train  = train[["Latitude","Longitude"]]
test = test[["Latitude","Longitude"]]

In [23]:
train.columns = ['latitude', 'longitude']
test.columns = ['latitude', 'longitude']

In [24]:
train_trade = xgb.predict(train)

In [25]:

test_trade = xgb.predict(test)

In [26]:
mainmain = pd.concat([dat1.trading_hours,data.trading_hours], axis = 1)
mainmain.head()

  trading_hours trading_hours
0             1      12 hours
1             1      12 hours
2             1      12 hours
3             0      10 hours
4             0      10 hours

In [27]:
#dataOriginal.head()
mainmain.columns = ['trading_hours1', 'trading_hours']

In [28]:
mainmain.head()

   trading_hours1 trading_hours
0               1      12 hours
1               1      12 hours
2               1      12 hours
3               0      10 hours
4               0      10 hours

In [29]:

#worked_out.head()
dict(zip(mainmain.trading_hours, mainmain.trading_hours1))

{'12 hours': 1, '10 hours': 0, '8 hours': 3, '24 hours': 2}

In [30]:

dick = dict(zip(mainmain.trading_hours1, mainmain.trading_hours))
dick

{1: '12 hours', 0: '10 hours', 3: '8 hours', 2: '24 hours'}

In [32]:
trainpred = pd.DataFrame(train_trade, columns = ["trading_hours"])
testpred = pd.DataFrame(test_trade ,  columns = ["trading_hours"])

In [33]:
trainHours = trainpred.replace({'trading_hours': dick})

In [34]:

testHours = testpred.replace({'trading_hours': dick})

In [35]:
trainHours.head()

  trading_hours
0      12 hours
1      12 hours
2      12 hours
3      12 hours
4      12 hours

In [36]:
testHours.head()

  trading_hours
0      12 hours
1      12 hours
2      12 hours
3      12 hours
4      12 hours

In [37]:
trainHours.to_csv('trainHours.csv',index = False)
testHours.to_csv('testHours.csv', index = False)