In [1]:
import pandas as pd
import numpy as np

In [2]:
dat=pd.read_csv("training.csv")

In [3]:
dat.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

In [5]:
dat.isnull().sum()

ID                             0
Q1                             0
Q2                             0
Q3                             0
Q4                             0
Q5                             0
Q6                             0
Q7                             0
Q8_1                           0
Q8_2                           0
Q8_3                           0
Q8_4                           0
Q8_5                           0
Q8_6                           0
Q8_7                           0
Q8_8                           0
Q8_9                           0
Q8_10                          0
Q8_11                          0
Q9                             0
Q10                            0
Q11                            0
Q12                            0
Q13                            0
Q14                            0
Q15                            0
Q16                            0
Q17                            0
Q18                            0
Q19                            0
Latitude                       0
Longitude                      0
mobile_money                   0
savings                        0
borrowing                      0
insurance                      0
mobile_money_classification    0
dtype: int64

In [6]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7094 entries, 0 to 7093
Data columns (total 37 columns):
ID                             7094 non-null int64
Q1                             7094 non-null int64
Q2                             7094 non-null int64
Q3                             7094 non-null int64
Q4                             7094 non-null int64
Q5                             7094 non-null int64
Q6                             7094 non-null int64
Q7                             7094 non-null int64
Q8_1                           7094 non-null int64
Q8_2                           7094 non-null int64
Q8_3                           7094 non-null int64
Q8_4                           7094 non-null int64
Q8_5                           7094 non-null int64
Q8_6                           7094 non-null int64
Q8_7                           7094 non-null int64
Q8_8                           7094 non-null int64
Q8_9                           7094 non-null int64
Q8_10                          7094 non-null int64
Q8_11                          7094 non-null int64
Q9                             7094 non-null int64
Q10                            7094 non-null int64
Q11                            7094 non-null int64
Q12                            7094 non-null int64
Q13                            7094 non-null int64
Q14                            7094 non-null int64
Q15                            7094 non-null int64
Q16                            7094 non-null int64
Q17                            7094 non-null int64
Q18                            7094 non-null int64
Q19                            7094 non-null int64
Latitude                       7094 non-null float64
Longitude                      7094 non-null float64
mobile_money                   7094 non-null int64
savings                        7094 non-null int64
borrowing                      7094 non-null int64
insurance                      7094 non-null int64
mobile_money_classification    7094 non-null int64
dtypes: float64(2), int64(35)
memory usage: 2.0 MB

In [7]:
dat['mobile_money_classification'].value_counts()

3    3126
1    1778
0    1386
2     804
Name: mobile_money_classification, dtype: int64

In [9]:
feature1=dat.drop(['ID','Latitude','Longitude','mobile_money_classification'],1)
target=dat['mobile_money_classification']

In [12]:
target.head()

0    0
1    3
2    2
3    3
4    3
Name: mobile_money_classification, dtype: int64

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [14]:
feature2=sc.fit_transform(feature1)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\dell\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [15]:
feature2=pd.DataFrame(feature2,columns=feature1.columns)

In [16]:
feature2.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,Q8_3,...,Q14,Q15,Q16,Q17,Q18,Q19,mobile_money,savings,borrowing,insurance
0,3.659330,0.886568,1.040767,-1.322521,-1.009625,0.435511,1.230012,-0.257460,-1.305184,-0.248311,...,0.778503,-0.727584,-0.601951,-0.381323,1.583566,0.63496,-1.114495,-0.925780,-0.873705,-0.422149
1,0.107801,-1.127946,-0.675857,-0.038552,1.597684,-2.296154,-0.813000,3.884092,-1.305184,-0.248311,...,-1.284516,1.751316,1.295934,2.974890,-0.636556,0.63496,0.897268,1.080171,1.144551,-0.422149
2,-1.239330,0.886568,1.899079,1.887402,0.294030,0.435511,-0.813000,-0.257460,-1.305184,-0.248311,...,0.778503,-0.727584,-0.601951,-0.381323,-0.636556,-1.64191,0.897268,-0.925780,-0.873705,-0.422149
3,0.720134,-1.127946,-0.675857,-0.038552,-1.009625,-2.296154,-0.813000,-0.257460,-1.305184,-0.248311,...,0.778503,-0.727584,1.295934,-0.381323,-0.636556,0.63496,0.897268,-0.925780,1.144551,-0.422149
4,-0.259598,-1.127946,-0.675857,-1.322521,-1.009625,0.435511,-0.813000,-0.257460,0.766175,-0.248311,...,-1.284516,0.098716,-0.601951,-0.381323,-0.636556,0.63496,0.897268,1.080171,-0.873705,2.368833

In [17]:
feature2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7094 entries, 0 to 7093
Data columns (total 33 columns):
Q1              7094 non-null float64
Q2              7094 non-null float64
Q3              7094 non-null float64
Q4              7094 non-null float64
Q5              7094 non-null float64
Q6              7094 non-null float64
Q7              7094 non-null float64
Q8_1            7094 non-null float64
Q8_2            7094 non-null float64
Q8_3            7094 non-null float64
Q8_4            7094 non-null float64
Q8_5            7094 non-null float64
Q8_6            7094 non-null float64
Q8_7            7094 non-null float64
Q8_8            7094 non-null float64
Q8_9            7094 non-null float64
Q8_10           7094 non-null float64
Q8_11           7094 non-null float64
Q9              7094 non-null float64
Q10             7094 non-null float64
Q11             7094 non-null float64
Q12             7094 non-null float64
Q13             7094 non-null float64
Q14             7094 non-null float64
Q15             7094 non-null float64
Q16             7094 non-null float64
Q17             7094 non-null float64
Q18             7094 non-null float64
Q19             7094 non-null float64
mobile_money    7094 non-null float64
savings         7094 non-null float64
borrowing       7094 non-null float64
insurance       7094 non-null float64
dtypes: float64(33)
memory usage: 1.8 MB

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(feature2,target,train_size=0.70,random_state=20)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [19]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4965 entries, 2780 to 2522
Data columns (total 33 columns):
Q1              4965 non-null float64
Q2              4965 non-null float64
Q3              4965 non-null float64
Q4              4965 non-null float64
Q5              4965 non-null float64
Q6              4965 non-null float64
Q7              4965 non-null float64
Q8_1            4965 non-null float64
Q8_2            4965 non-null float64
Q8_3            4965 non-null float64
Q8_4            4965 non-null float64
Q8_5            4965 non-null float64
Q8_6            4965 non-null float64
Q8_7            4965 non-null float64
Q8_8            4965 non-null float64
Q8_9            4965 non-null float64
Q8_10           4965 non-null float64
Q8_11           4965 non-null float64
Q9              4965 non-null float64
Q10             4965 non-null float64
Q11             4965 non-null float64
Q12             4965 non-null float64
Q13             4965 non-null float64
Q14             4965 non-null float64
Q15             4965 non-null float64
Q16             4965 non-null float64
Q17             4965 non-null float64
Q18             4965 non-null float64
Q19             4965 non-null float64
mobile_money    4965 non-null float64
savings         4965 non-null float64
borrowing       4965 non-null float64
insurance       4965 non-null float64
dtypes: float64(33)
memory usage: 1.3 MB

In [20]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=10)

In [21]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [23]:
y_pred=clf.predict(x_test)

In [24]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.994833255049319

In [25]:
y_pred

array([2, 1, 3, ..., 2, 2, 3], dtype=int64)

In [26]:
y_test

1673    2
5260    1
5453    3
2153    1
2078    3
4887    0
1557    1
1457    3
680     3
5558    1
4489    0
260     0
4941    3
5541    0
4065    3
5168    0
996     3
4632    2
4494    3
3219    3
3522    3
5968    0
1935    3
97      1
902     1
4346    2
5816    3
2695    3
5940    3
442     1
       ..
5134    2
2906    3
1622    3
1303    1
6328    3
1492    3
1189    1
2771    3
2036    2
4753    0
1209    3
2675    0
2583    3
1520    3
2271    3
6212    3
4398    1
1857    3
6340    1
4709    1
3327    1
6496    3
4749    1
6751    1
1101    1
5767    1
2450    2
4280    2
1957    2
1630    3
Name: mobile_money_classification, Length: 2129, dtype: int64

In [27]:
#feature selection
import sklearn.feature_selection
select=sklearn.feature_selection.SelectKBest(k=20)
selected_features=select.fit(x_train,y_train)
indices_selected=selected_features.get_support(indices=True)
columns_selected=[feature2.columns[i] for i in indices_selected]

In [28]:
columns_selected

['Q1',
 'Q2',
 'Q4',
 'Q7',
 'Q8_1',
 'Q8_2',
 'Q8_3',
 'Q8_10',
 'Q9',
 'Q12',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q18',
 'Q19',
 'savings',
 'borrowing',
 'insurance']

In [29]:
x_train_selected=x_train[columns_selected]
x_test_selected=x_test[columns_selected]

In [30]:
#new model after feature selection
clf.fit(x_train_selected,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [31]:
y_pred2=clf.predict(x_test_selected)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred2))

Accuracy: 0.9041803663691874