In [42]:

import pandas as pd
import numpy as np
import seaborn as sns

In [43]:
dat1 = pd.read_csv("3rd_ppp_for_upload_win.csv", encoding = "ISO-8859-1")
dat2 = pd.read_csv("atm_for_upload_win.csv", encoding = "ISO-8859-1")
dat3 = pd.read_csv("banks_for_upload_win.csv", encoding = "ISO-8859-1")
dat4 = pd.read_csv("bus_stands_for_upload_win.csv", encoding = "ISO-8859-1")
dat5 = pd.read_csv("microfinance_for_upload_win.csv", encoding = "ISO-8859-1")
dat6 = pd.read_csv("mobilemoney_agents_for_upload_win.csv", encoding = "ISO-8859-1")
dat7 = pd.read_csv("pos_for_upload_win.csv", encoding = "ISO-8859-1")
dat8 = pd.read_csv("post_office_for_upload_win.csv", encoding = "ISO-8859-1")
dat9 = pd.read_csv("sacco_for_upload_win.csv", encoding = "ISO-8859-1")

C:\Users\dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (26,32,33,42,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
dat1 = dat1[['region', 'district', 'ward', 'latitude', 'longitude']]
dat2 = dat2[['region', 'district', 'ward', 'latitude', 'longitude']]
dat3 = dat3[['region', 'district', 'ward', 'latitude', 'longitude']]
dat4 = dat4[['region', 'district', 'ward', 'latitude', 'longitude']]
dat5 = dat5[['region', 'district', 'ward', 'latitude', 'longitude']]
dat6 = dat6[['region', 'district', 'ward', 'latitude', 'longitude']]
dat7 = dat7[['region', 'district', 'ward', 'latitude', 'longitude']]
dat8 = dat8[['region', 'district', 'ward', 'latitude', 'longitude']]
dat9 = dat9[['region', 'district', 'ward', 'latitude', 'longitude']]

In [45]:
data = pd.concat([dat1,dat2,dat3,dat4,dat5,dat6,dat7,dat8,dat9])

In [46]:
data.to_csv("all.csv",index = False)

In [47]:
data.head()

          region   district         ward  latitude  longitude
0         Mwanza       Magu     Nyanguge  -2.36921   33.57654
1         Mwanza    Ilemela      Nyakato  -2.53201   32.94780
2  Dar es Salaam      Ilala      Segerea  -6.84188   39.21102
3  Dar es Salaam  Kinondoni  Kijitonyama  -6.77949   39.24092
4  Dar es Salaam     Temeke    Kigamboni  -6.82792   39.31021

In [48]:
data.isnull().sum()

region       20
district     19
ward         19
latitude      0
longitude     0
dtype: int64

In [49]:

data.dropna(inplace = True)

In [50]:
data.reset_index(inplace = True)

In [53]:
data.drop("index", axis = 1 ,inplace = True)

KeyError: "['index'] not found in axis"

In [54]:
data.head()

          region   district         ward  latitude  longitude
0         Mwanza       Magu     Nyanguge  -2.36921   33.57654
1         Mwanza    Ilemela      Nyakato  -2.53201   32.94780
2  Dar es Salaam      Ilala      Segerea  -6.84188   39.21102
3  Dar es Salaam  Kinondoni  Kijitonyama  -6.77949   39.24092
4  Dar es Salaam     Temeke    Kigamboni  -6.82792   39.31021

In [55]:

dataOriginal = data.copy()

In [56]:

data['district'] = data['district'].astype('category')

In [57]:
data.nunique()

region          22
district       124
ward          1383
latitude     40399
longitude    41000
dtype: int64

In [58]:
data.drop_duplicates(inplace =True)
data.reset_index(inplace = True)
data.drop("index", axis = 1 ,inplace = True)

In [59]:
data.head()

          region   district         ward  latitude  longitude
0         Mwanza       Magu     Nyanguge  -2.36921   33.57654
1         Mwanza    Ilemela      Nyakato  -2.53201   32.94780
2  Dar es Salaam      Ilala      Segerea  -6.84188   39.21102
3  Dar es Salaam  Kinondoni  Kijitonyama  -6.77949   39.24092
4  Dar es Salaam     Temeke    Kigamboni  -6.82792   39.31021

In [28]:
data[data["latitude"] == -2.36921]

   region district      ward  latitude  longitude
0  Mwanza     Magu  Nyanguge  -2.36921   33.57654

In [29]:
cat_columns = data.select_dtypes(['category']).columns

cat_columns
data[cat_columns] = data[cat_columns].apply(lambda x: x.cat.codes)
data.head()

          region  district         ward  latitude  longitude
0         Mwanza        53     Nyanguge  -2.36921   33.57654
1         Mwanza        21      Nyakato  -2.53201   32.94780
2  Dar es Salaam        19      Segerea  -6.84188   39.21102
3  Dar es Salaam        38  Kijitonyama  -6.77949   39.24092
4  Dar es Salaam       118    Kigamboni  -6.82792   39.31021

In [30]:
data.district.nunique()

124

In [31]:
X= data.drop(["district","region","ward"], axis =1)
y = data["district"]

In [32]:
X.head()

   latitude  longitude
0  -2.36921   33.57654
1  -2.53201   32.94780
2  -6.84188   39.21102
3  -6.77949   39.24092
4  -6.82792   39.31021

In [33]:
y.head()

0     53
1     21
2     19
3     38
4    118
Name: district, dtype: int8

In [61]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [62]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [36]:

model = LogisticRegression()
rf = RandomForestClassifier()
xgb = XGBClassifier(max_depth=5, 
                    learning_rate=0.2, 
                    )

In [37]:
X_train.head()

       latitude  longitude
49627  -6.80937   37.69184
39556  -3.82783   32.59622
11248  -4.18991   35.02281
27827  -6.76761   39.21725
10709  -7.36417   39.06662

In [38]:
X_test.head()

       latitude  longitude
53856  -6.78642   39.26380
23619  -6.81856   39.28805
17202  -6.78192   39.26015
45692  -5.02053   32.80334
15056  -4.06537   37.73260

In [39]:
y_test.head()

53856     38
23619     19
17202     38
45692    114
15056    100
Name: district, dtype: int8

In [40]:
y_train.head()

49627    70
39556    25
11248    63
27827    38
10709    67
Name: district, dtype: int8

In [41]:

model1=xgb.fit(X_train,y_train)

In [32]:

model2=rf.fit(X_train,y_train)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [33]:
model1.predict(X_test)

array([38, 19, 38, ..., 19, 17,  0], dtype=int8)

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
accuracy_score(model1.predict(X_test),y_test)

0.9367353028946583

In [36]:
accuracy_score(rf.predict(X_test),y_test)

0.935302894658311

In [ ]:
#xgb.fit(X,y)

In [37]:
dataOriginal.head()

          region   district         ward  latitude  longitude
0         Mwanza       Magu     Nyanguge  -2.36921   33.57654
1         Mwanza    Ilemela      Nyakato  -2.53201   32.94780
2  Dar es Salaam      Ilala      Segerea  -6.84188   39.21102
3  Dar es Salaam  Kinondoni  Kijitonyama  -6.77949   39.24092
4  Dar es Salaam     Temeke    Kigamboni  -6.82792   39.31021

In [77]:
dataOriginal.head()
dataOriginal[dataOriginal['district']=='Magu']



dataOriginal['district'] = dataOriginal['district'].astype('category')

dataOriginal.drop_duplicates(inplace =True)
dataOriginal.reset_index(inplace = True)
dataOriginal.drop("index", axis = 1 ,inplace = True)
dist = dataOriginal["district"]
cat_columns = dataOriginal.select_dtypes(['category']).columns

cat_columns
dataOriginal[cat_columns] = dataOriginal[cat_columns].apply(lambda x: x.cat.codes)
dataOriginal.head()

          region  district         ward  latitude  longitude
0         Mwanza        53     Nyanguge  -2.36921   33.57654
1         Mwanza        21      Nyakato  -2.53201   32.94780
2  Dar es Salaam        19      Segerea  -6.84188   39.21102
3  Dar es Salaam        38  Kijitonyama  -6.77949   39.24092
4  Dar es Salaam       118    Kigamboni  -6.82792   39.31021

In [78]:

worked_out = pd.concat([dataOriginal["district"],dist],axis =1)

In [79]:

worked_out.head()

  district   district
0       53       Magu
1       21    Ilemela
2       19      Ilala
3       38  Kinondoni
4      118     Temeke

In [80]:

worked_out.columns = ["district",'main']

In [81]:
worked_out[worked_out["district"] == 53]

       district  main
0            53  Magu
2801         53  Magu
3671         53  Magu
5338         53  Magu
7135         53  Magu
7585         53  Magu
7602         53  Magu
7736         53  Magu
7922         53  Magu
8285         53  Magu
8287         53  Magu
8289         53  Magu
8399         53  Magu
8435         53  Magu
8521         53  Magu
8670         53  Magu
8776         53  Magu
8821         53  Magu
8884         53  Magu
9832         53  Magu
9946         53  Magu
9954         53  Magu
10137        53  Magu
10273        53  Magu
10516        53  Magu
10525        53  Magu
10527        53  Magu
10712        53  Magu
11620        53  Magu
11625        53  Magu
...         ...   ...
44392        53  Magu
44444        53  Magu
44528        53  Magu
44532        53  Magu
44537        53  Magu
44542        53  Magu
44599        53  Magu
44621        53  Magu
44790        53  Magu
44916        53  Magu
44919        53  Magu
44932        53  Magu
45017        53  Magu
45065        53  Magu
45311        53  Magu
45320        53  Magu
45387        53  Magu
45398        53  Magu
45420        53  Magu
45426        53  Magu
45437        53  Magu
45441        53  Magu
45462        53  Magu
45474        53  Magu
47592        53  Magu
47600        53  Magu
47688        53  Magu
54592        53  Magu
54792        53  Magu
54794        53  Magu

[449 rows x 2 columns]

In [64]:
train = pd.read_csv("training.csv")

In [65]:
test = pd.read_csv("test.csv")

In [66]:
train.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

In [67]:
train = train[['Latitude','Longitude']]
test = test[['Latitude','Longitude']]
train.columns = ['latitude', 'longitude']
test.columns  = ['latitude', 'longitude']

In [68]:
train.head()

   latitude  longitude
0 -4.460442  29.811396
1 -6.176438  39.244871
2 -6.825702  37.652798
3 -3.372049  35.808307
4 -7.179645  31.039095

In [69]:

test.head()

   latitude  longitude
0 -2.596421  32.913584
1 -1.778303  34.062640
2 -1.851789  31.536866
3 -1.235656  34.229012
4 -7.780934  35.691878

In [70]:
train_destrict = xgb.predict(train)

In [71]:
test_destrict = xgb.predict(test)

In [72]:
test_destrict

array([ 66,   9,  79, ...,  57, 117,  53], dtype=int8)

In [73]:
train_destrict

array([ 28, 123,  70, ..., 112,  35,  78], dtype=int8)

In [82]:
worked_out.head()

   district       main
0        53       Magu
1        21    Ilemela
2        19      Ilala
3        38  Kinondoni
4       118     Temeke

In [83]:
trainpred = pd.DataFrame(train_destrict,columns=["district"])

In [94]:
trainpred.head()

         district
0          Kasulu
1        Zanzibar
2  Morogoro Urban
3          Karatu
4          Mpanda

In [84]:
testpred = pd.DataFrame(test_destrict,columns=["district"])

In [85]:

dick = dict(zip(worked_out.district, worked_out.main))
dick

{53: 'Magu',
 21: 'Ilemela',
 19: 'Ilala',
 38: 'Kinondoni',
 118: 'Temeke',
 1: 'Arusha',
 3: 'Bagamoyo',
 93: 'Nzega',
 37: 'Kilwa',
 84: 'Nachingwea',
 48: 'Lindi Urban',
 114: 'Tabora Urban',
 109: 'Singida Urban',
 15: 'Hai',
 13: 'Dodoma Urban',
 36: 'Kilosa',
 24: 'Iringa Urban',
 41: 'Kiteto',
 92: 'Nyamagana',
 35: 'Kilombero',
 70: 'Morogoro Urban',
 72: 'Moshi Urban',
 76: 'Mtwara Urban',
 18: 'Igunga',
 105: 'Siha',
 29: 'Kibaha',
 44: 'Korogwe',
 45: 'Kwimba',
 95: 'Rombo',
 12: 'Dodoma Rural',
 122: 'Uyui',
 60: 'Mbeya Urban',
 90: 'Njombe',
 67: 'Mkuranga',
 83: 'Mwanga',
 62: 'Mbozi',
 20: 'Ileje',
 32: 'Kigoma Urban',
 116: 'Tanga',
 25: 'Kahama',
 71: 'Moshi Rural',
 49: 'Liwale',
 81: 'Musoma Urban',
 102: 'Serengeti',
 4: 'Bariadi',
 111: 'Songea Urban',
 74: 'Mpwapwa',
 31: 'Kigoma Rural',
 0: 'Arumeru',
 103: 'Shinyanga Rural',
 50: 'Ludewa',
 28: 'Kasulu',
 7: 'Bukoba Urban',
 39: 'Kisarawe',
 117: 'Tarime',
 51: 'Lushoto',
 33: 'Kilindi',
 100: 'Same',
 27: 'Karatu',
 22: 'Iramba',
 66: 'Misungwi',
 30: 'Kibondo',
 47: 'Lindi Rural',
 61: 'Mbinga',
 17: 'Handeni',
 87: 'Newala',
 8: 'Bukombe',
 40: 'Kishapu',
 2: 'Babati',
 82: 'Mvomero',
 115: 'Tandahimba',
 104: 'Shinyanga Urban',
 34: 'Kilolo',
 101: 'Sengerema',
 42: 'Kondoa',
 23: 'Iringa Rural',
 121: 'Urambo',
 106: 'Sikonge',
 96: 'Rorya',
 9: 'Bunda',
 55: 'Manyoni',
 68: 'Monduli',
 69: 'Morogoro Rural',
 59: 'Mbeya Rural',
 77: 'Mufindi',
 75: 'Mtwara Rural',
 16: 'Hanang',
 54: 'Makete',
 94: 'Pangani',
 98: 'Rufiji',
 64: 'Meatu',
 56: 'Masasi',
 57: 'Maswa',
 46: 'Kyela',
 63: 'Mbulu',
 97: 'Ruangwa',
 43: 'Kongwa',
 78: 'Muheza',
 26: 'Karagwe',
 123: 'Zanzibar',
 5: 'Biharamulo',
 58: 'Mbarali',
 79: 'Muleba',
 14: 'Geita',
 10: 'Chato',
 65: 'Misenyi',
 99: 'Rungwe',
 113: 'Sumbawanga Urban',
 73: 'Mpanda',
 11: 'Chunya',
 91: 'Nkansi',
 6: 'Bukoba Rural',
 110: 'Songea Rural',
 88: 'Ngara',
 52: 'Mafia',
 107: 'Simanjiro',
 89: 'Ngorongoro',
 108: 'Singida Rural',
 119: 'Tunduru',
 85: 'Namtumbo',
 120: 'Ulanga',
 112: 'Sumbawanga Rural',
 86: 'Nanyumbu',
 80: 'Musoma Rural'}

In [86]:
trainpred = trainpred.replace({"district": dick})

In [87]:
testpred = testpred.replace({"district": dick})

In [88]:
trainpred.head()

         district
0          Kasulu
1        Zanzibar
2  Morogoro Urban
3          Karatu
4          Mpanda

In [89]:
testpred['district']

0               Misungwi
1                  Bunda
2                 Muleba
3                  Rorya
4           Iringa Urban
5          Singida Rural
6                 Kilolo
7                  Geita
8               Zanzibar
9                 Iramba
10                 Bunda
11               Kibondo
12      Sumbawanga Rural
13                 Rorya
14      Sumbawanga Urban
15                Temeke
16               Mufindi
17         Singida Rural
18             Nyamagana
19      Sumbawanga Rural
20           Moshi Rural
21           Mbeya Urban
22                Urambo
23                 Rombo
24               Ilemela
25                Mwanga
26                 Mbozi
27                Chunya
28                 Ngara
29         Singida Urban
              ...
2335        Bukoba Urban
2336                 Hai
2337             Arumeru
2338            Zanzibar
2339            Zanzibar
2340            Zanzibar
2341             Korogwe
2342              Kahama
2343             Handeni
2344             Handeni
2345              Igunga
2346            Zanzibar
2347             Ilemela
2348              Iramba
2349              Iramba
2350               Maswa
2351              Iramba
2352             Bariadi
2353           Sengerema
2354              Chunya
2355              Nkansi
2356           Sengerema
2357               Maswa
2358              Chunya
2359           Sengerema
2360           Sengerema
2361             Bukombe
2362               Maswa
2363              Tarime
2364                Magu
Name: district, Length: 2365, dtype: object

In [90]:
train=pd.read_csv('training.csv')

In [62]:
train.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q17,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification
0,5086,98,2,3,1,1,2,2,0,0,...,-1,4,4,-4.460442,29.811396,0,0,0,0,0
1,1258,40,1,1,3,5,1,1,1,0,...,4,1,4,-6.176438,39.244871,1,1,1,0,3
2,331,18,2,4,6,3,2,1,0,0,...,-1,1,1,-6.825702,37.652798,1,0,0,0,2
3,6729,50,1,1,3,1,1,1,0,0,...,-1,1,4,-3.372049,35.808307,1,0,1,0,3
4,8671,34,1,1,1,1,2,1,0,1,...,-1,1,4,-7.179645,31.039095,1,1,0,1,3

In [91]:
test=pd.read_csv('test.csv')

In [64]:
test.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude
0,2352,30,2,1,3,6,2,1,0,0,...,1,6,1,4,5,-1,1,4,-2.596421,32.913584
1,8208,53,1,1,3,1,2,1,0,1,...,2,-1,1,4,1,-1,1,4,-1.778303,34.062640
2,2785,23,2,1,3,5,1,1,0,0,...,1,4,1,4,1,-1,1,1,-1.851789,31.536866
3,2967,30,2,3,3,4,1,2,0,1,...,2,-1,2,-1,1,-1,1,4,-1.235656,34.229012
4,1697,28,2,1,5,4,2,1,0,0,...,1,4,1,6,4,3,1,2,-7.780934,35.691878

In [92]:
train['district']=trainpred['district']

In [93]:
test['district']=testpred['district']

In [67]:
train.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q18,Q19,Latitude,Longitude,mobile_money,savings,borrowing,insurance,mobile_money_classification,district
0,5086,98,2,3,1,1,2,2,0,0,...,4,4,-4.460442,29.811396,0,0,0,0,0,Kasulu
1,1258,40,1,1,3,5,1,1,1,0,...,1,4,-6.176438,39.244871,1,1,1,0,3,Zanzibar
2,331,18,2,4,6,3,2,1,0,0,...,1,1,-6.825702,37.652798,1,0,0,0,2,Morogoro Urban
3,6729,50,1,1,3,1,1,1,0,0,...,1,4,-3.372049,35.808307,1,0,1,0,3,Karatu
4,8671,34,1,1,1,1,2,1,0,1,...,1,4,-7.179645,31.039095,1,1,0,1,3,Mpanda

In [95]:
test.head()

,ID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8_1,Q8_2,...,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Latitude,Longitude,district
0,2352,30,2,1,3,6,2,1,0,0,...,6,1,4,5,-1,1,4,-2.596421,32.913584,Misungwi
1,8208,53,1,1,3,1,2,1,0,1,...,-1,1,4,1,-1,1,4,-1.778303,34.062640,Bunda
2,2785,23,2,1,3,5,1,1,0,0,...,4,1,4,1,-1,1,1,-1.851789,31.536866,Muleba
3,2967,30,2,3,3,4,1,2,0,1,...,-1,2,-1,1,-1,1,4,-1.235656,34.229012,Rorya
4,1697,28,2,1,5,4,2,1,0,0,...,4,1,6,4,3,1,2,-7.780934,35.691878,Iringa Urban

In [69]:
train.to_csv("disttrain.csv",index= False)

In [71]:
test.to_csv("disttest.csv",index= False)

In [72]:
disttrain=pd.read_csv('disttrain.csv')

In [74]:
disttest=pd.read_csv('disttest.csv')

In [75]:
regiontrain=pd.read_csv('regiontrain.csv')

In [77]:
a=regiontrain['region']

KeyError: 'region'

In [76]:
regiontest=pd.read_csv('regiontest.csv')

In [ ]:
daaat=pd.concat(['disttrain',])

In [ ]:
#

In [ ]:
dat=pd.read_csv('all.csv')

In [ ]:
dat.head()

In [ ]:
dataa=dat.copy()

In [ ]:
dataa.head()

In [ ]:
dataa['ward'] = dataa['ward'].astype('category')

In [ ]:
dataa.nunique()

In [ ]:
dataa.drop_duplicates(inplace =True)

In [ ]:
dataa.reset_index(inplace = True)

In [ ]:
dataa.drop("index", axis = 1 ,inplace = True)

In [ ]:
dataa.head()

In [ ]:
cat_columns = dataa.select_dtypes(['category']).columns

cat_columns
dataa[cat_columns] = dataa[cat_columns].apply(lambda x: x.cat.codes)
dataa.head()

In [ ]:
dataa.ward.nunique()

In [ ]:
X= dataa.drop(["district","region","ward"], axis =1)
y = dataa["ward"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [ ]:
y_train.head()

In [ ]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = LogisticRegression()
rf = RandomForestClassifier()
xgb = XGBClassifier(max_depth=5, 
                    learning_rate=0.2, 
                    )

In [ ]:
modell=xgb.fit(X_train,y_train)

In [ ]:
modell2=rf.fit(X_train,y_train)

In [ ]:
a=modell.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(a,y_test)

In [ ]:
accuracy_score(model2.predict(X_test),y_test)

In [ ]:
dataOriginal.head()
dataOriginal[dataOriginal['district']=='Magu']

In [ ]:
dataOriginal['district'] = dataOriginal['district'].astype('category')

In [ ]:
dataOriginal.drop_duplicates(inplace =True)
dataOriginal.reset_index(inplace = True)
dataOriginal.drop("index", axis = 1 ,inplace = True)

In [ ]:
dist = dataOriginal["district"]
cat_columns = dataOriginal.select_dtypes(['category']).columns

In [ ]:
cat_columns
dataOriginal[cat_columns] = dataOriginal[cat_columns].apply(lambda x: x.cat.codes)
dataOriginal.head()

In [ ]:
worked_out = pd.concat([dataOriginal["district"],dist],axis =1)
worked_out.columns = ["district",'main']

In [ ]:
train = pd.read_csv("training.csv")

In [ ]:
train = train[['Latitude','Longitude']]
test = test[['Latitude','Longitude']]
train.columns = ['latitude', 'longitude']
test.columns  = ['latitude', 'longitude']

In [ ]:
train.head()

In [ ]:
train_destrict = xgb.predict(train)
test_destrict = xgb.predict(test)

In [ ]:
test_destrict

In [ ]:
train_destrict

In [ ]:
trainpred = pd.DataFrame(train_destrict,columns=["district"])
testpred = pd.DataFrame(test_destrict,columns=["district"])

In [ ]:
dick = dict(zip(worked_out.district, worked_out.main))
dick

In [ ]:
trainpred = trainpred.replace({"district": dick})
testpred = testpred.replace({"district": dick})

In [ ]:
train['district']=trainpred['district']
test['district']=testpred['district']

In [ ]:
#getting region

In [ ]:
dat.head()

In [ ]:
dat1=dat.copy()

In [ ]:
dat1['ward'] = dat1['ward'].astype('category')

In [ ]:
data.nunique()

In [ ]:
data.drop_duplicates(inplace =True)

In [ ]:
data.reset_index(inplace = True)

In [ ]:
data.drop("index", axis = 1 ,inplace = True)

In [ ]:
data.head()

In [ ]:
cat_columns = data.select_dtypes(['category']).columns

In [ ]:
cat_columns
data[cat_columns] = data[cat_columns].apply(lambda x: x.cat.codes)
data.head()
data.district.nunique()

In [ ]:
X= data.drop(["district","region","ward"], axis =1)
y = data["district"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

In [ ]:
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = LogisticRegression()
rf = RandomForestClassifier()
xgb = XGBClassifier(max_depth=5, 
                    learning_rate=0.2, 
                    )

In [ ]:
model1=xgb.fit(X_train,y_train)

In [ ]:
model2=rf.fit(X_train,y_train)

In [ ]:
model1.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(model1.predict(X_test),y_test)

In [ ]:
dataOriginal.head()
dataOriginal[dataOriginal['district']=='Magu']

In [ ]:
dataOriginal['district'] = dataOriginal['district'].astype('category')

In [ ]:
dataOriginal.drop_duplicates(inplace =True)
dataOriginal.reset_index(inplace = True)
dataOriginal.drop("index", axis = 1 ,inplace = True)
dist = dataOriginal["district"]

In [ ]:
dist = dataOriginal["district"]

In [ ]:
cat_columns = dataOriginal.select_dtypes(['category']).columns
cat_columns
dataOriginal[cat_columns] = dataOriginal[cat_columns].apply(lambda x: x.cat.codes)
dataOriginal.head()

In [ ]:
worked_out = pd.concat([dataOriginal["district"],dist],axis =1)
worked_out.columns = ["district",'main']

In [ ]:
train = train[['Latitude','Longitude']]
test = test[['Latitude','Longitude']]
train.columns = ['latitude', 'longitude']
test.columns  = ['latitude', 'longitude']

In [ ]:
train.head()

In [ ]:
train_destrict = xgb.predict(train)

In [ ]:
test_destrict = xgb.predict(test)

In [ ]:
test_destrict

In [ ]:
train_destrict

In [ ]:
trainpred = pd.DataFrame(train_destrict,columns=["district"])
testpred = pd.DataFrame(test_destrict,columns=["district"])

In [ ]:
dick = dict(zip(worked_out.district, worked_out.main))
dick

In [ ]:
trainpred = trainpred.replace({"district": dick})
testpred = testpred.replace({"district": dick})

In [ ]:
train['district']=trainpred['district']
test['district']=testpred['district']

In [ ]:
dick2 = dict(zip( data.district,data.region))
dick2

In [ ]:
a.columns = ['district','latitude2','longitude']

In [ ]:

a.isnull().sum()

In [ ]:
b = pd.merge(b,data,how='left',on=['district'])

In [ ]:
b.columns = ['district','latitude2','longitude']

In [ ]:
a.drop('district',axis =1,inplace=True)
b.drop('district',axis =1,inplace=True)

In [ ]:
a.to_csv('lat2dat.csv',index = False)
b.to_csv('lat2test.csv',index = False)